-
  const howData = {
    breadcrumbs: [
      {
        active: true,
        href: '/',
        text: 'Приемная комиссия',
      },
      {
        active: true,
        href: 'bc.html',
        text: 'Бакалавриат РФ',
      },
      {
        active: false,
        text: 'Как поступить',
      }
    ],
    title: "Как поступить на программу бакалавриата",
    buttons: [
        {
          text: 'О программе',
          href: 'bc.html'
        },
        {
          text: 'Экзамены',
          href: 'bc-exams.html'
        }
      ],
    stages: [
      {
        key: 'Начало приёма документов',
        value: '20 июня 2022 г.',
      },
      {
        key: 'Окончание приёма документов',
        value: '15 июля 2022 г.',
      },
      {
        key: 'Период вступительных испытаний',
        value: 'до 25 июля 2022 г.',
      },
      {
        key: 'Завершение приёма заявлений о согласии на зачисление',
        value: '3 августа 2022 г.',
      },
    ],
    docs: [
      'Анкета-заявление',
      'Цветная копия документов об образовании с приложением с оценками по всем предметам (табель успеваемости)',
      'Цветная копия первых двух страниц паспорта',
      'Страховой номер индивидуального лицевого счета (СНИЛС) — при наличии',
      'Медицинская справка из районной поликлиники (для поступающих в учебные заведения - форма 086/у): с указанием группы здоровья и сделанных прививок',
      'Полис обязательного медицинского страхования — при наличии'
    ],
    nav: [
      {
        text: 'Этапы приёмной кампании',
        href: '#stages',
      },
      {
        text: 'Документы, необходимые для поступления',
        href: '#docs',
      },
      {
        text: 'Как подать документы',
        href: '#adm',
      },
      {
        text: 'Учёт индивидуальных достижений',
        href: '#achieve',
      },
      {
        text: 'Зачисление',
        href: '#enroll',
      },
      {
        text: 'После зачисления',
        href: '#after',
      },
    ],
  }

mixin how()
  .basic.how
    .container
      +breadcrumbs(howData.breadcrumbs)
      .basic__container
        .basic__content
          h2.basic__title.title-2 !{howData.title}
          .page-btns
              each button in howData.buttons
                a.page-btns__item(href= button.href)= button.text
          .basic__block#stages
            h3.basic__block-title Этапы приёмной кампании
            ul.how__stages-list
              each stage in howData.stages
                li.how__stages-item
                  span.how__stages-item-key= stage.key + ":"
                  span.how__stages-item-value= stage.value
          .basic__block#docs
            h3.basic__block-title Документы, необходимые для поступления
            ol.basic__list-ordered
              each doc in howData.docs
                li.basic__list-ordered-item !{doc}
            p.basic__text Подать документы можно до получения всех результатов ЕГЭ и получения медицинской справки. Главное — наличие документа об образовании (аттестата, диплома колледжа).
          .basic__block#adm
            h3.basic__block-title Как подать документы
            p.basic__text Документы можно подать дистанционно и лично.
            ol.basic__list-ordered
              li.basic__list-ordered-item Через электронную информационную систему МГУ <b><a href="https://webanketa.msu.ru/" target="_blank">Webanketa</a></b>.
                .how__advantages
                  p.how__advantages-title Преимущества такого способа:
                  ul.how__advantages-list
                    li.how__advantages-item регистрация по номеру телефона или через <a href="https://www.mos.ru/" target="_blank">mos.ru</a>
                    li.how__advantages-item помощь/чат с приёмной комиссией
                    li.how__advantages-item информация о позиции в конкурсном списке (на сайте ЦПК МГУ)
              li.basic__list-ordered-item Через суперсервис <a href="https://www.gosuslugi.ru/vuzonline" target="_blank">&laquo;Поступление в вуз онлайн&raquo;</a> портала &laquo;Госуслуги&raquo; .
              li.basic__list-ordered-item Через операторов почтовой связи (с почтовым уведомлением и описью вложения) по адресу:
                address.basic__text-small 119234, г. Москва, Ленинские горы, д. 1, МГУ имени М.В. Ломоносова, Высшая школа перевода (факультет), приёмная комиссия
            p.basic__text Или документы можно подать лично. Обратите внимание на <a href="#">график работы приёмной комиссии</a>. Контакты приёмной комиссии факультета указаны внизу этой страницы.
          .basic__block#achieve
            h3.basic__block-title Учёт индивидуальных достижений
            h4.basic__block-subtitle Документ об образовании с отличием <span> — 6 баллов<span>
            ul.basic__block-list
              li.basic__block-list-item аттестат о среднем общем, среднем (полном) общем или диплом о начальном профессиональном образовании
              li.basic__block-list-item получен в образовательной организации Российской Федерации
              li.basic__block-list-item год получения аттестата или диплома значения не имеет
            h4.basic__block-subtitle Спортивные достижения <span> — 2 балла<span>
            ul.basic__block-list
              li.basic__block-list-item золотой, серебряный или бронзовый знак отличия ГТО (соответствие возрастной группе в текущем или предшествующем году, наличие удостоверения или выписки из приказа Минспорта России)
              li.basic__block-list-item статус чемпиона или призёра олимпийских, паралимпийских, сурдалимпийских игр и др.
            h4.basic__block-subtitle Итоговое сочинение <span> — 2 балла<span>
            ul.basic__block-list
              li.basic__block-list-item Итоговое сочинение, являющееся условием допуска к государственной итоговой аттестации по образовательной программе среднего общего образования (за 2018−2022 гг.)
          .basic__block#enroll
            h3.basic__block-title Зачисление
            p.basic__text Подать заявление о согласии на зачисление в МГУ — не более 4 раз последовательно при отзыве ранее поданного согласия.
            p.basic__text Заявление о согласии на зачисление — как оригинал аттестата, подать его можно одновременно только на одно направление подготовки или специальность и только в один вуз. При наличии ранее поданного согласия и решении подать новое на другое направление или специальность, ранее поданное заявление о согласии на зачисление необходимо отозвать.
          .basic__block#after
            h3.basic__block-title После зачисления
            p.basic__text Подать заявление о согласии на зачисление в МГУ — не более 4 раз последовательно при отзыве ранее поданного согласия.
            p.basic__text Будьте готовы пройти внутреннюю медицинскую комиссию в университете <b>до начала учебного года</b> (наличие справки 086/у не отменяет этот этап).Начало учебного года — 1 сентября.
            p.basic__text Желаем удачи при поступлении!
        .basic__nav
          ul.basic__nav-list
            each nav in howData.nav
              li.basic__nav-item
                a.basic__nav-link(href=nav.href)= nav.text






