mixin program(dpr)
  main.program.page
    .container
      +breadcrumbs(dpr.breadcrumbs)
      .program__container
        .program__content
          section.program__intro
            h2.program__intro-title.title-2 !{dpr.title}
            .page-btns
              each button in dpr.buttons
                a.page-btns__item(href= baseHref + button.href)= button.text
            p.program__intro-text.text-basic !{dpr.intro}
            if dpr.introAdd
              p.program__intro-text.program__intro-text--small !{dpr.introAdd}
            .program__card
              ul.program__card-list
                each pair in dpr.card
                  li.program__card-item
                    span.program__card-key= pair.key + ":"
                    span.program__card-value= pair.value
          section.program__section
            h3.program__section-title.title-3 Вступительные испытания
            ol.program__exams-list
              each exam in dpr.exams
                li.program__exams-item !{exam}
          section.program__section.program__about
            h3.program__section-title.title-3 О программе
            each textblock in dpr.about
              p.program__about-text.text-basic !{textblock}
          section.program__section.skills-section
            h3.program__section-title.title-3 Знания и навыки выпускников Высшей школы перевода
            +skills()
          section.program__section.program__about
            h3.program__section-title.title-3 Профессиональные траектории лингвистов
            p.program__about-text.text-basic
              | Переводчики-лингвисты востребованы в международных организациях, органах государственной власти,
              | посольствах и консульствах, переводческих агенствах, в бизнес-структурах, в сфере культуры и туризма, СМИ,
              | в науке и образовании.
            p.program__about-text.text-basic
              a(href= baseHref + 'profession.html') Подробнее о работе лингвистов и переводчиков
          section.program__section.program__qa
            h3.program__section-title.title-3.program__questions-title Вопросы и ответы
            .program__questions
              each question in dpr.questions
                +question(question)


