-
    const dpr = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приемная комиссия',
        },
        {
          active: false,
          text: 'Бакалавриат РФ',
        }
      ],
      title: "Образовательная программа <br> &laquo;Лингвистика&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'bc-admissions.html'
        },
        {
          text: 'Экзамены',
          href: 'bc-exams.html'
        }
      ],
      intro: 'Программа бакалавриата предназначена для российских абитуриентов, имеющих среднее общее и среднее профессиональное образование.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "4 года"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "391 050 рублей в год"
        },
        {
          key: "План приема",
          value: "15 платных мест"
        }
      ],
      exams: [
        'Иностранный язык (ЕГЭ)',
        'Обществознание <b>или</b> история (ЕГЭ)',
        'Русский язык (ЕГЭ)',
        'Иностранный язык (дополнительное вступительное испытание)',
      ],
      about: [
        'Студенты Высшей школы перевода получают базовые знания и навыки в рамках образовательных программ высшего образования по направлению «Лингвистика».',
        'Студенты факультета со знанием двух и более иностранных языков успешно осваивают применение информационных технологий для обеспечения профессиональной деятельности, способны осуществлять различные формы межкультурного взаимодействия в целях обеспечения сотрудничества при решении профессиональных задач, толерантно воспринимая социальные, этнические, конфессиональные, культурные и иные различия.'
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приема на программу?',
          reply:[
            'Полные правила приема изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приемной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой проходной балл на программу бакалавриата?',
          reply: [
            'На программу бакалавриата нет фиксированного проходного балла. Чтобы участвовать в конкурсе, необходимо сдать ЕГЭ и дополнительное вступительное испытание (ДВИ) на минимальные баллы. После ДВИ мы составляем конкурсные списки и зачисляем согласно плану приёма абитуриентов, набравших наибольшее количество баллов.',
            'В 2021 году минимальный проходной балл на программу бакалавриата составлял около 300 из 400 по сумме четырёх экзаменов.'
          ],
        },
        {
          id: 'q3',
          ask: 'Чем отличается программа бакалавриата от программы специалитета?',
          reply: [
            'Продолжительность обучения по программе бакалавриата — 4 года, по программе специалитета — 6 лет. Выпускники-бакалавры профессионально владеют родным языком и  минимум двумя иностранными языками, имеют фундаментальные знания в гуманитарных сферах.',
            'В дальнейшем лингвисты могут развиваться в смежных сферах (международное право, мировая экономика, компьютерная лингвистика, прикладные дисциплины) или продолжить обучение в рамках своей специализации.'
          ],
        },
        {
          id: 'q4',
          ask: 'Какая специальность будет указана в моём дипломе?',
          reply: [
            'В дипломе будет указано: освоил(а) основную образовательную программу высшего образования (бакалавриат) и присвоена степень БАКАЛАВРА по направлению 45.03.02 &laquo;Лингвистика&raquo;'
          ],
        },
        {
          id: 'q5',
          ask: 'Какие иностранные языки изучают бакалавры?',
          reply: [
            'В качестве первого языка бакалавры могут выбрать английский, немецкий или французский языки.',
            'В качестве второго языка — английский, испанский, итальянский, немецкий, французский языки.'
          ],
        },
        {
          id: 'q6',
          ask: 'Могут ли студенты изучать третий иностранный язык?',
          reply: [
            'Да, с 3 курса студенты Высшей школы перевода могут изучать третий иностранный язык при условия формирования группы. Изучение третьего языка — дополнительная образовательная услуга и не входит в стоимость основного обучения.'
          ],
        },
        {
          id: 'q7',
          ask: 'Как подать документы?',
          reply: [
            'Смотрите раздел <a href="/bc-admissions.html">&laquo;Как поступить&raquo;</a>'
          ],
        },
        {
          id: 'q8',
          ask: 'Есть ли на факультете бюджетные места?',
          reply: [
            'Обучение осуществляется только на контрактной основе.'
          ],
        },
        {
          id: 'q9',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q10',
          ask: 'Есть ли военная кафедра для студентов?',
          reply: [
            'В <a href="https://www.msu.ru/info/struct/dep/voennyy-uchebnyy-tsentr.php" target="blank">Военном учебном центре при МГУ</a> могут проходить подготовку студенты программы <b>специалитета</b> на 3-5 курсах.'
          ],
        },
        {
          id: 'q11',
          ask: 'Предоставляется ли иногородним студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

mixin program()
  main.program.page
    .container
      +breadcrumbs(dpr.breadcrumbs)
      .program__container
        .program__content
          section.program__intro
            h2.program__intro-title.title-2 !{dpr.title}
            .page-btns
              each button in dpr.buttons
                a.page-btns__item(href= button.href)= button.text
            p.program__intro-text.text-basic= dpr.intro
            .program__card
              ul.program__card-list
                each pair in dpr.card
                  li.program__card-item
                    span.program__card-key= pair.key + ":"
                    span.program__card-value= pair.value
          section.program__section
            h3.program__section-title.title-3 Вступительные испытания
            ol.program__exams-list
              each exam in dpr.exams
                li.program__exams-item !{exam}
          section.program__section.program__about
            h3.program__section-title.title-3 О программе
            each textblock in dpr.about
              p.program__about-text.text-basic !{textblock}
          section.program__section.skills-section
            h3.program__section-title.title-3 Знания и навыки выпускников Высшей школы перевода
            +skills()
          section.program__section.program__about
            h3.program__section-title.title-3 Профессиональные траектории лингвистов
            p.program__about-text.text-basic
              | Переводчики-лингвисты востребованы в международных организациях, органах государственной власти,
              | посольствах и консульствах, переводческих агенствах, в бизнес-структурах, в сфере культуры и туризма, СМИ,
              | в науке и образовании. <a href="profession.html">Подробнее о работе лингвистов и переводчиков</a>
          section.program__section.program__qa
            h3.program__section-title.title-3.program__questions-title Вопросы и ответы
            .program__questions
              each question in dpr.questions
                +question(question)


